*.FASL
*.fasl
*.lisp-temp

*.dx32fsl

*.dx64fsl

LewisVasishth2005/Paramsearch/GG-EXP*

VBLD2008/Paramsearch/vbld08-*

actr6/environment/GUI/init/10-userguisettings.tcl

*/backup/*
*/bak/*

*backup/*
*bak/*

VBLD2008/experiments-original/*

VBLD2008/experiments/old-plots/*

*/output/*.pdf
*/output/*.txt
